body {
}

#CasTestInfo {
    width: 100%;
    display:inline-block;
    border:double;
    height:50px;
}
#lblTop{
     width: 75%;
     display:inline-block;
     text-align:right;
 }
#CenterLbl{
    margin-left:75px;
    margin-top:15px;
}
#BilletInfo{
    width: 100%;
    display:inline-block;
    margin-left:25%;
}
#txtTitreBillet{
    width:220px;
}
#txtDureeBillet{
    width:75px;
}
#lblAjouterBillet{
    font-family:'Microsoft Sans Serif';
    font-size:25px;
    text-align:center;
    padding-top:25px;
}
#CasTestDesc{
    width: 75%;
    display:inline-block;
}
.info{
    margin-top:5px;
    margin-bottom:5px;
    width: 510px;
}
.richtextbox{
    height:210px;
    width:600px;
    resize:none;
}




#lblColumn1{
    width: 49%;
    display:inline-block;
}

.btnDroit{
    display:inline-block;
    float:right;
    margin-right:5px;
}

#btnCopier{
    float:left;
}

#btnCentre{ 
    display:inline-block;
}

.lblColum1{
    width:25%;
    text-align:right;
    display:inline-block;
}

.lblColum2{
    display:block;
}

.txtColum1{
    display:inline;
    width:356px;
}



.button{
    width:175px;
    text-align:center;
    top: 0px;
}

.txtDate1{
    width:25.5%;
}

.lblDate1{
    width:10%;
    margin-left:45px;
}

.txtDate2{
    width:24%;
    font-size:20px;
}

.lblDate2{
    width:21%;
}





.dropDownTypeTestCasTest{
    width:530px;
}
