body {
}

#CasTestInfo {
    width: 100%;
    display:inline-block;
}

#CasTestObj{
    width: 49%;
    display:inline-block;
    vertical-align:top;
    margin-top:5px;
}

#CasTestDesc{
    width: 75%;
    display:inline-block;
    vertical-align:top;
}

#CasTestDiv{
    width:49%;
    display:inline-block;
}

#lblColumn1{
    width: 73%;
    display:inline-block;
}

.btnDroit{
    display:inline-block;
    float:right;
    margin-right:5px;
}

#btnCopier{
    float:left;
}

#btnCentre{ 
    display:inline-block;
}

.lblColum1{
    width:25%;
    text-align:right;
    display:inline-block;
}

.lblColum2{
    display:block;
}

.txtColum1{
    display:inline;
    width:70%;
}

.info{
    margin-top:5px;
    margin-bottom:5px;
}

.richtextbox{
    width: 505px;
    }

.button{
    width:100px;
    text-align:center;
    top: 0px;
    left: 0px;
}

.txtDate1{
    width:25.5%;
}

.lblDate1{
    width:10%;
    margin-left:47px;
}

.txtDate2{
    width:24%;
    font-size:20px;
}

.lblDate2{
    margin-right:-1px;
    width:19%;
}