.div_1 {
     padding:20px;
     display: inline-block; 
     float:left;    
}

#div_1a {
     padding:20px;
     height: 177px;
     width: 290px;
     display: inline-block;
  
}

.div_1b {
     height: 166px;
     padding-top:60px;
     width: 250px;
     display: inline-block;
}

#div_1c {
    display: inline-block;
}

.txtColum1{
    width:45px;
}

input, textarea, select, checkbox{
    margin-bottom:0px;
}

#dgvBillets{
    background:white;
    width:1400px;
}