#div_1a {
 float:left;
 padding-left:20px;
    height: 282px;
}
.div_1b {
 float:left;
 height: 166px;
 padding:15px;
}
#div_1c {
 clear:both;
}

.boundfieldElement{
   Width:85px;
   color:Blue;
}

.ddlGV{
   Width:150px;
   text-align:center;
}