.div_1 {

 padding:20px;
 display: inline-block;     
}

#div_1a {
 padding:20px;
    height: 177px;
    width: 343px;
  display: inline-block;
}

.div_1b {
 height: 166px;
 padding:15px;
 width: 318px;
 display: inline-block;
}


#div_1c {
    display: inline-block;
}

.boundfieldElement{
   Width:85px;
   color:Blue;
}

.ddlGV{
   Width:150px;
   text-align:center;
}