.div_1 {
     padding:20px;
     display: inline-block; 
     margin-left:20px;   
}

#div_1a {
     height: 177px;
     width: 250px;
     display: inline-block;
}

.div_1b {
     display: inline-block;
     margin-top:15px;
}

#div_1c {
    display: inline-block;
}

.txtColum1{
    width:45px;
}

input, textarea, select, checkbox{
    margin-bottom:0px;
}

#dgvBillets{
    background:white;
    width:1400px;
}

#imgLogo{
    height:34px;
    width:156px;
    margin-top:-11px;
    margin-right:-10px;
}

#pnlStats{
    float:right;
    margin-top:20px;
    margin-right:30px;
    width:720px;
}

.full_w{
    margin-bottom:-11px;
}

.lblinfo{
    margin-left:100px;  
}

lblColum2{
    margin-left:25px;
}