body {
}

#CasTestInfo {
    width: 100%;
    display:inline-block;
}

#CasTestObj{
    width: 49%;
    display:inline-block;
    vertical-align:top;
    margin-top:5px;
}

#CasTestDesc{
    width: 50%;
    display:inline-block;
    vertical-align:top;
}

#CasTestDiv{
    width:49%;
    display:inline-block;
}

#lblColumn1{
    width: 50%;
    display:inline-block;
}

.btnDroit{
    display:inline-block;
    float:right;
    margin-right:5px;
}

#btnCentre{
    display:inline-block;
}

.lblColum1{
    width:25%;
    text-align:right;
    display:inline-block;
}

.lblColum2{
    display:block;
}

.txtColum1{
    display:inline;
    width:70%;
    font-size: 14px;
}

.info{
    margin-top:5px;
    margin-bottom:5px;
}

#DataGrid{
    border: 1px solid red;
    width: 95%;
}

.richtextbox{
    width: 505px;
    height: 150px;
}

.button{
    width:100px;
}